.userContent{
    width: 400px;
    margin: 80px auto 0;
    text-align: left;
    background-color: white;
    padding: 29px 25px;
    position: relative;
    border-radius: 15px;
    box-shadow: 0px 4px 16px 0px #33333314;
}
.disAppear{
    display: none;
}
.appear{
    display: block;
}
.userContent svg {
    position: absolute;
    right: 20px;
    top: 20px;
    background-color: #6E41E2;
    border-radius: 50%;
    padding: 5px;
    transition: 0.3s;
    cursor: pointer;
}
.userContent svg:hover{
    background-color: #cf3636;
}
.userContent h3{
    margin: 0 0 10px;
    font-family: Montserrat;
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
}
.userContent .headContent p{
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}
.userContent .info label{
    margin-left: 20px;
    color: #1111117A;
}
.userContent .info input{
    display: block;
    width: 90%;
    padding: 15px 20px;
    margin: 10px 0 20px 0;
    border: none;
    border-radius: 6px;
    border-radius: 6px;
    box-shadow: 0px 4px 16px 0px #33333314;
}
.userContent .info select{
    border-radius: 6px;
    padding: 15px 20px;
    width: 100%;
    border: none;
    box-shadow: 0px 4px 16px 0px #33333314;
    margin-bottom: 20px;
}
.userContent .send{
    padding: 10px 15px;
    border: none;
    color: white;
    border-radius: 6px;
    background-color: #6E41E2;
    cursor: pointer;
    transition: 0.3s;
}
.userContent .send:hover{
    background-color: #4a1eb9;
}
.field{
    position: relative;
}
.field .notValid{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 90px;
    background-color: #6E41E2;
    padding: 10px 15px;
    box-shadow: 0px 4px 16px 0px #333;
    border-radius: 7px;
    z-index: 100;
    color: white;
}
.field .notValid::before{
    content: '';
    position: absolute;
    top: -25px;
    left: 50%;
    transform: translateX(-50%);
    border-width: 10px 10px 15px 10px;
    border-style: solid;
    border-color: transparent transparent #6E41E2 transparent;
}
@media(max-width: 1023px){
    .userContent{
        width: 500px;
    }
}
@media (max-width: 767px){
    .userContent{
        width: 350px;
    }
}
@media (max-width: 600px){
    .userContent{
        width: 300px;
    }
}
@media (max-width: 480px){
    .userContent{
        width: 275px;
    }
}
@media (max-width: 375px){
    .userContent{
        width: 250px;
    }
}